<div class="control-group">
  <label for="health" class="control-label">health</label>
  <div class="controls">
    <%- contentTag('input', buildingStorage.health, {type:'number', class:'span2', name:'health'}) %>
  </div>
</div>
