<div class="control-group">
  <label for="positionX" class="control-label">positionX</label>
  <div class="controls">
    <%- contentTag('input', tile.positionX, {type:'number', class:'span2', name:'positionX'}) %>
  </div>
</div>
<div class="control-group">
  <label for="positionY" class="control-label">positionY</label>
  <div class="controls">
    <%- contentTag('input', tile.positionY, {type:'number', class:'span2', name:'positionY'}) %>
  </div>
</div>
