<div class="control-group">
  <label for="startMoney" class="control-label">startMoney</label>
  <div class="controls">
    float
  </div>
</div>
<div class="control-group">
  <label for="width" class="control-label">width</label>
  <div class="controls">
    <%- contentTag('input', gameConfiguration.width, {type:'number', class:'span2', name:'width'}) %>
  </div>
</div>
<div class="control-group">
  <label for="height" class="control-label">height</label>
  <div class="controls">
    <%- contentTag('input', gameConfiguration.height, {type:'number', class:'span2', name:'height'}) %>
  </div>
</div>
