<div class="control-group">
  <label for="humidity" class="control-label">humidity</label>
  <div class="controls">
    <%- contentTag('input', crop.humidity, {type:'number', class:'span2', name:'humidity'}) %>
  </div>
</div>
<div class="control-group">
  <label for="fertility" class="control-label">fertility</label>
  <div class="controls">
    <%- contentTag('input', crop.fertility, {type:'number', class:'span2', name:'fertility'}) %>
  </div>
</div>
<div class="control-group">
  <label for="health" class="control-label">health</label>
  <div class="controls">
    <%- contentTag('input', crop.health, {type:'number', class:'span2', name:'health'}) %>
  </div>
</div>
<div class="control-group">
  <label for="maturity" class="control-label">maturity</label>
  <div class="controls">
    <%- contentTag('input', crop.maturity, {type:'number', class:'span2', name:'maturity'}) %>
  </div>
</div>
