<div class="control-group">
  <label for="name" class="control-label">name</label>
  <div class="controls">
    <%- contentTag('input', alliance.name, {type:'text', class:'span6', name:'name'}) %>
  </div>
</div>
<div class="control-group">
  <label for="users" class="control-label">users</label>
  <div class="controls">
    Array
  </div>
</div>
<div class="control-group">
  <label for="plop" class="control-label">plop</label>
  <div class="controls">
    <%- contentTag('input', alliance.plop, {type:'number', class:'span2', name:'plop'}) %>
  </div>
</div>
